$main-color: #4CAF50;
$avatar-size: 100px;
$font-family: 'Arial', sans-serif;

$light-background-color: #f8f8f8;
$light-text-color: #333;
$light-card-bg: white;
$light-border-color: #4CAF50;
$light-button-bg: #007bff;

$dark-background-color: #121212;
$dark-text-color: #e0e0e0;
$dark-card-bg: #1e1e1e;
$dark-border-color: #4CAF50;
$dark-button-bg: #0056b3;